<div class="panel-container">
  <div class="panel-form">
    <ul>
      <li><a href="domains" class="">Manage Domains &raquo;</a></li>
      <li><a href="users" class="">Manage Users &raquo;</a></li>
      <li><a href="aliases" class="">Manage Aliases &raquo;</a></li>
    </ul>
  </div>
  <div class="panel-note">
    <p>You are authenticated as <i>Administrator</i>.</p>
    <p>If there is anything wrong, please contact your system administrator.</p>

    <a href="<%= url_for('/logout') %>" class="">Logout &raquo;</a>
    /  <a href="<%= url_for('/panel/') %>" class="">Back to user panel &crarr;</a>
  </div>
</div>
