<h2 style="margin-top:0">Edit domain : <%= @domain.name %> - <a href="/panel/admin/domains">Back to domains &crarr;</a></h2>

<form action="/panel/admin/domains/edit/<%= @domain.id %>" method="post">
  <input type="text" name="name" class="" placeholder="Domain name" value="<%= @domain.name %>"/>
  <button type="submit" class="">Update &raquo;</button>
</form>
