<div class="login-container">
  <div class="login-form">
    <form action="/login" method="post">
      <input type="text" name="email" class="full" placeholder="Email" />
      <input type="password" name="password" class="full" placeholder="Password" />
      <button type="submit" class="full">Login &raquo;</button>
    </form>
  </div>
  <div class="login-note">
    <p>If there is anything wrong, please contact your system administrator.</p>
  </div>
</div>
