<!DOCTYPE html>
<html>
  <head>
    <title>Mail Administration</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div id="header">
      <h1>Mail Service Administration</h1>
    </div>
    <div id="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
