<!DOCTYPE html>
<html>
<head>
   <title>Mail Administration</title>
   <link rel="stylesheet" href="/assets/normalize.css">
   <link rel="stylesheet" href="/assets/main.css">
   <link rel="icon" type="image/png" href="/assets/icon.png">
</head>
<body>
   <div id="header">
     <h1>Mail Service Administration</h1>
   </div>
   <div id="content-wrapper">
      <%= yield %>
   </div>
   <div id="footer">
      <p>
      <a href="https://github.com/Fnux/mail-admin" class="footer-link">Source code</a>
      </p>
   </div>
</body>
</html>
