/*
 * Main.css
 */

body{
   font-family:"Sans-Serif";
   font-size: 12px;
   background:#FBFBFB;
   width: 100%;
}

/* Layout */
#header {
   width: 100%;
   padding-top: 30px;
   margin-bottom: 10px;
   text-align: center;
   margin: 0px auto 0px auto;
}

#content-wrapper {
   border: 1px solid #e6e6e6;
   padding: 10px;
   color: #494949;
   background-color: #ffffff;
   width: 600px;
   margin: 15px auto  15px  auto;
}

#footer {
   opacity: 0.5;
   width: 100%;
   position: absolute;
   text-align: center;
   bottom:0;
   box-sizing: border-box;
}

#footer a {
   color: inherit;
   text-decoration: none;
}

/* Page-specific */

.login-container, .panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.login-form, .panel-form {
  width:48%;
  margin-right:2%;
}

.login-note, .panel-note {
  text-align:center;
  width:48%;
  margin-left:2%;
}

/* Forms */

input {
  margin-bottom:5px;
  box-sizing:border-box;
}

.full {
  width:100%;
}

button, .button {
  min-height:30px;
  background-color: #FBFBFB;
  border-radius:5px;
  border: 1px solid #9D9D99;
}

.button {
  padding-left: 6px;
  padding-right:6px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration:none;
  color: inherit;
}

/* Various */

h1 {
  font-size:24px;
}

th {
  text-align:left;
}
