/**
 * Main.css
 */

html {
   min-height: 100%;
}

body {
   position: relative;
   min-height: 100vh;
   padding-bottom: 50px;
   box-sizing: border-box;
}


/**
 * Layout
 */

#header {
   width: 1000px;
   padding-top: 30px;
   margin: 0px auto 0px auto;
}

#content-wrapper {
   max-width: 1000px;
   margin: 15px auto  15px  auto;
}

#footer {
   opacity: 0.5;
   width: 100%;
   position: absolute;
   text-align: center;
   bottom:0;
   box-sizing: border-box;
}

#footer a {
   color: inherit;
   text-decoration: none;
}

/**
 * Navbar
 */

.navbar {
   border-top-width: 0;
}
.navbar, .navbar-spacer {
   display: block;
   width: 100%;
   height: 6.5rem;
   background: #fff;
   z-index: 99;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
}
.navbar-spacer {
   display: none;
}
.navbar > .container {
   width: 100%;
}
.navbar-list {
   list-style: none;
   margin-bottom: 0;
}
.navbar-item {
   position: relative;
   float: left;
   margin-bottom: 0;
}
.navbar-link {
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 600;
   letter-spacing: .2rem;
   margin-right: 35px;
   text-decoration: none;
   line-height: 6.5rem;
   color: #222;
}
.navbar-link.active {
   color: #33C3F0;
}

/**
 * Login page 
 */

#login-wrapper {
   padding-top: 10%;
   max-width: 600px;
   margin: 15px auto  15px  auto;
}

/**
 * Forms
 */

.form {
   overflow: hidden;
}

.form-ecart {
   margin-bottom:5px;
}

/**
 * Titltes & typography
 */

h1 {
   font-size: 40px;
}

h1 a {
   text-decoration: none;
}

h2 {
   font-size: 30px;
}

.post-title {
   margin-bottom:0px;
   margin-bottom: -5px;
}

.post-date {
   font-style: italic;
}

.post-content {
   margin-top:20px;
}
