<form action="/users/edit/<%= @user.id %>" method="post">
   <div class="row">
      <div class="five columns">
         <input type="text" name="mail" class="u-full-width" placeholder="Email Adress", value="<%= @user.mail %>" />
      </div>
      <div class="five columns">
           <input type="password" name="password" class="u-full-width" placeholder="Password" />
      </div>
      <div class="two columns">
         <button type="submit" class="u-full-width">Save &raquo;</button>
      </div>
   </div>
</form>
