<form action="/domains/edit/<%= @domain.id %>" method="post">
   <div class="row">
      <div class="two columns">
         <input type="text" name="name" class="u-full-width" placeholder="Domain name" value="<%= @domain.name %>"/>
      </div>
      <div class="ten columns">
         <button type="submit" class="u-full-width">Save &raquo;</button>
      </div>
   </div>
</form>
